template(name='home')
  div.col-md-6
    h1 Welcome
    h2 Please register or sign up and enjoy the game!
  div.col-md-6
    h2 Already register
    +each registered_users
      div.panel.panel-default
        div.panel-body
          {{emails.[0].address}}
          div.pull-right
            a(href='#' data-user-id='{{_id}}').glyphicon.glyphicon-envelope.show-message-dialog